/* 480px */
@import "compass/css3";
@import "partials/grid";


$column-width: 100px;
$gutter-width: 20px;
$columns: 4;

.container {
	margin: 0 auto;
	@include grid-width();
}


#nested-row-1 {
	.col {
		.row {
			@include row(4);
			.col {
				@include column(2,4);
			}
		}
	}
}

#nested-row-2 {
	.column1 {
		.row {
			@include row();
			.col {
				@include column(2,4);
			}
		}
	}
	.column2 {
		.row {
			@include row();
			.col {
				@include column(2,4);
				.row {
					@include row(false);
					.col {
						@include column(false);
					}
				}
			}
		}
	}
}

#fixed-width-sample {
	.row {
		@include row($columns);
		.subnav {
			@include column(1,4,true);
		}
		.center {
			@include column(2,4);
		}
		.sidebar {
			@include column(1,4,true);
		}
	}
}
