/* 600px */
@import "compass/css3";
@import "partials/grid";


$column-width: 60px;
$gutter-width: 20px;
$columns: 8;

.container {
	margin: 0 auto;
	@include grid-width();
}

@import "partials/intro_cols";

#nested-columns {
	@include row();
	.col {
		@include column(4,8);
	}
	#nested-row-1 {
		@include row(false);
		.col {
			@include column(false);
			.row {
				@include row(4);
				.col {
					@include column(2,4);
				}
			}
		}
	}

	#nested-row-2 {
		.column1 {
			@include column(false);
			.row {
				@include row();
				.col {
					@include column(2,4);
				}
			}
		}
		.column2 {
			@include column(false);
			.row {
				@include row();
				.col {
					@include column(2,4);
					.row {
						@include row(false);
						.col {
							@include column(false);
						}
					}
				}
			}
		}
	}
}
#fixed-width-sample {
	.row {
		@include row($columns);
		.subnav {
			@include column(2,8,true);
		}
		.center {
			@include column(4,8);
		}
		.sidebar {
			@include column(2,8,true);
		}
	}
}
