/* 768px */
@import "compass/css3";
@import "partials/grid";


$column-width: 45px;
$gutter-width: 20px;
$columns: 12;
$grid-flexbox: true;

@include column-classes();

.container {
	margin: 0 auto;
	@include grid-width();
}

.row {
	@include row();
}


#nested-example-1 {
	@include row();
	.col {
		@include column(6);
		.row {
			@include row(6);
			.col {
				@include column(3,6);
			}
		}
	}
}

#nested-example-2 {
	@include row();
	.column1 {
		@include column(4);
		.row {
			@include row(4);
			.col {
				@include column(2,4);
			}
		}
	}
	.column2 {
		@include column(8);
		.row {
			@include row(8);
			.col {
				@include column(4,8);
				.row {
					@include row(4);
					.col {
						@include column(2,4);
					}
				}
			}
		}
	}
}
