/* 768px */
@import "compass/css3";
@import "partials/grid";


$column-width: 45px;
$gutter-width: 20px;
$columns: 12;


.container {
	margin: 0 auto;
	@include grid-width();
}

@import "partials/intro_cols";

#nested-columns {
	@include row();
	.col {
		@include column(6,12);
	}
	#nested-row-1 {
		@include row(false);
		.col {
			@include column(false);
			.row {
				@include row(6);
				.col {
					@include column(3,6);
				}
			}
		}
	}

	#nested-row-2 {
		.column1 {
			@include column(false);
			.row {
				@include row(6);
				.col {
					@include column(3,6);
				}
			}
		}
		.column2 {
			@include column(false);
			.row {
				@include row(6);
				.col {
					@include column(3,6);
					.row {
						@include row(false);
						.col {
							@include column(false);
						}
					}
				}
			}
		}
	}
}

#normal-columns {
	.row {
		@include row();
	}
	@include column-classes();
}
#fixed-width-sample {
	.row {
		@include row($columns);
		.subnav {
			@include column(2,12,true);
		}
		.center {
			@include column(7,12);
		}
		.sidebar {
			@include column(3,12,true);
		}
	}
}
