/* 992px */
@import "compass/css3";
@import "partials/grid";


$column-width: 60px;
$gutter-width: 20px;
$columns: 12;

.container {
	margin: 0 auto;
	@include grid-width();
}

@import "partials/intro_cols";

#nested-columns {
	@include row();
	#nested-column-1 {
		@include column(4,12);
		#nested-row-1 {
			@include row(4);
			.col {
				@include column(2);
				.row {
					@include row(2);
					.col {
						@include column(1,2);
					}
				}
			}
		}
	}

	#nested-column-2 {
		@include column(8,12);
		#nested-row-2 {
			@include row(8);

			.column1 {
				@include column(4,8);
				.row {
					@include row(4);
					.col {
						@include column(2,4);
					}
				}
			}
			.column2 {
				@include column(4,8);
				.row {
					@include row(4);
					.col {
						@include column(2,4);
						.row {
							@include row(2);
							.col {
								@include column(1,2);
							}
						}
					}
				}
			}
		}
	}
}

#normal-columns {
	.row {
		@include row();
	}
	@include column-classes();
}

#fixed-width-sample {
	.row {
		@include row($columns);
		.subnav {
			@include column(2,12,true);
		}
		.center {
			@include column(7,12);
		}
		.sidebar {
			@include column(3,12,true);
		}
	}
}
