// Include SASS CSS3
@import "compass/css3";

// Bring in SASS normalize
@import "third-party/normalize";

// Bring in our settings
@import "partials/settings";

// Bring in our mixins
@import "mixins/grid";
@import "mixins/respond-to";

// Page components
@import "partials/intro";
@import "partials/nested-columns";
@import "partials/fixed-width-sample";
@import "partials/columns-test";

// Additional styles
body {
	margin: 0 auto;
	padding: 10px;
	#{headings(all)} { margin: 1em 0 0 0; }
	li {
		margin-bottom: .5em;
	}
	background-color: #666;
	#intro {
		.inner {
			margin:0 20px;
		}
	}
	.container {
		margin: 0 auto;
		@include grid-width();
		background-color: #fff;
		overflow: hidden;
	}
	#samples {
		#{headings(all)} { margin-left: 20px; }
		.col {
			background-color: #ddd;
			margin-top: 10px;
			text-align: center;
			#{headings(all)} { margin-left: 0; }
			.col {
				background-color: #ccc;
				.col {
					background-color: #bbb;
					.col {
						background-color: #aaa;
					}
				}
			}
		}
	}
	#fixed-width-sample {
		.subnav, .center, .sidebar {
			background-color: #ccc;
			text-align: center;
		}
	}

	#docs {
		#{headings(all)} { margin-left: 20px; }
	}
}



