@import "compass/reset";
@import "compass/css3";
@import "blueprint/typography";
@import "blueprint/scaffolding";

body {
	margin: 0 auto;
	padding: 10px;
	@include blueprint-typography-body(12px);
	@include blueprint-typography-defaults;
	#{headings(all)} { margin-top: 1em; }

	.col {
		background-color: #ccc;
		margin-top: 10px;
	}
}



