#columns-test {
	@include respond-to(tablet) {
		$column-width: 33px;
		$gutter-width: 20px;
		$columns: 12;
		.row {
			@include row($columns);
		}
		@include column-classes();
	}
	@include respond-to(desktop) {
		$column-width: 60px;
		$gutter-width: 20px;
		$columns: 12;
		.row {
			@include row($columns);
		}
		@include column-classes();
	}
}
